{% extends 'template.html' %}

{% block content %}
<div class="row">
    <div class="col s10 offset-s1">
        <div class="card">
            <div class="card-content black-text">
                <div class="row">
                    <div class="col s10 offset-s1">
                        <h5 class="chart" style="text-align: center;">Activity Chart</h5>
                        <img src="chart.png" alt="Chart" style="width:100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}