{% extends 'template.html' %}

{% block content %}
<div class="row">
    <div class="col s10 offset-s1">
        <div class="card">
            <div class="card-content black-text">
                <div class="row">
                    <div class="col s10 offset-s1">
                        <h5 style="text-align: center;">Help</h5>
                        <hr>
                        <span>Focus Now’s goal is to provide a place for users to easily manage their work
                            with a customizable
                            timer. The intention of this app is to help users maintain a balance between
                            their focus and break time
                            in order to avoid constant distractions while they study, code, etc.
                        </span>
                        <hr>
                        <h6>How to use Focus Now timer?</h6>
                        <ol>
                            <li>Add task to be focused on.</li>
                            <li>Select task to work on in calendar.</li>
                            <li>Start timer (and focus on the task for the set time.)</li>
                            <li>Take a break (5 minutes recommended.)</li>
                            <li>Repeat (until all tasks are completed.)</li>
                        </ol>
                        <hr>
                        <h6>Features</h6>
                        <ul style="list-style: circle;">
                            <li>- Create task allows the user to set up the task they want to stay focused on
                                while the timers run.
                            </li>
                            <li>- Calendar shows the user where their tasks are scheduled for the day.</li>
                            <li>- Activity History lets the user reflect on how long they successfully focused
                                on their tasks over the
                                week.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}